# 1st Session 

### What's Python 
     - High Level 
     - Interpreted 
     - Dynamic

In [4]:
x = 5

In [2]:
x = 10

In [8]:
print(x)

NameError: name 'x' is not defined

In [6]:
import numpy as np 
from numpy import get_array_wrap
def
return

In [7]:
del(x)

In [ ]:
if 
elif 
else

In [ ]:
continue 
break

In [ ]:
for 
while

In [ ]:
True 
False 
None

In [12]:
def summ(x,y):
    result = x+y
    return result

In [13]:
summ(5,10)

In [16]:
x = 10 + 10
y = 15

In [27]:
integar = int(1.9)
string = "Mohamed 10+5 x + y "
float_ = float(10)
boolean = True , False

In [36]:
x,y,z = 5 ,7,1

In [37]:
x = 5 ; y = 7 ; z =1

In [38]:
a = [1+2+3+4+\
    5+6+7+8+9]

In [44]:
# This block chek if x is greater than 3 
# dsafsdfasd
if x > 3 : # adsfdsafsaf
    """ 
    
    asdfasdfasdfvsda;kjfaslkdfms,nf,mnczxv
    sadfasdfsa
            adfsgdfsgdsg
                
    
    
    """
    print('Hello!')

Hello!

In [ ]:
user_name = "Mohamed"

In [46]:
import math 
math.pi

3.141592653589793

In [77]:
name = input("Please Enter Your Name\n")

Please Enter Your Name
Mohamed

In [90]:
age = int(input('Please Enter Your Age: '))

Please Enter Your Age: 27

In [75]:
print(f"Hello {name}  Nice To Meet You!!")

Hello Mohamed  Nice To Meet You!!

In [88]:
print(age )
print('\t\tWelcome to Python!!\n\t\tHope you Enjoy')

27
		Welcome to Python!!
		Hope you Enjoy

In [97]:
# User inputs
name = input('Please Enter Your name\n')
item_name =  input('Please Enter item name\n')
item_price = float(input("Please Enter Item Price\n"))
item_quantity = int(input("How many items you Purchased\n"))
tax_rate = float(input("Please Enter Tax Amount (e.g. 0.05 for 5%)\n"))
# Calculatation 
subtotal = item_price * item_quantity
tax_amount = subtotal * tax_rate
total = tax_amount + subtotal

# Receipt
print(f"----------- {name} Receipt -----------")
print(f"Item : \t {item_name}")
print(f"Quantity : \t {item_quantity}")
print(f'Item Price :\t {item_price}')
print(f'SubTotal : \t {subtotal}')
print(f'Tax : \t{tax_rate:.0%}')
print(f'Tax Amount : \t {tax_amount}')
print(f'Total : \t {total:.2f}')

Please Enter Your name
Mohamed
Please Enter item name
Books
Please Enter Item Price
50
How many items you Purchased
10
Please Enter Tax Amount (e.g. 0.05 for 5%)
0.05
----------- Mohamed Receipt -----------
Item : 	 Books
Quantity : 	 10
Item Price :	 50.0
SubTotal : 	 500.0
Tax : 	5%
Tax Amount : 	 25.0
Total : 	 525.000000

In [101]:
# Receipt
print(f"----------- {name} Receipt -----------")
print(f"Item : \t {item_name}")
print(f"Quantity : \t {item_quantity}")
print(f'Item Price :\t {item_price}')
print(f'SubTotal : \t {subtotal}')
print(f'Tax : \t{tax_rate:.0%}')
print(f'Tax Amount : \t {tax_amount}')
print(f'Total : \t {total:.0f}')

----------- Mohamed Receipt -----------
Item : 	 Books
Quantity : 	 10
Item Price :	 50.0
SubTotal : 	 500.0
Tax : 	5%
Tax Amount : 	 25.0
Total : 	 525

In [112]:
x= 10
y = 3

In [103]:
x + y

13

In [104]:
x - y

-3

In [105]:
x * y

40

In [106]:
x /y

0.625

In [113]:
x % y

1

In [114]:
x // y

3

In [115]:
x ** y

1000

In [117]:
x= 10
y = 3

In [118]:
x == y

False

In [119]:
x != y

True

In [120]:
x > y

True

In [121]:
x < y

False

In [122]:
x >= y

True

In [123]:
x <= y

False

In [129]:
if x >= y :
    print("it's a Tie")
elif x != y :
    print('dsad')
else :
    print('no x')

it's a Tie

In [134]:
x = 5 
y = 10.5
z = '10.5'
w = True

In [131]:
bool(z)

True

In [132]:
float(x)

5.0

In [133]:
int(y)

10

In [137]:
int(float(z))

10

In [138]:
int(w)

1

In [139]:
float(w)

1.0

In [140]:
str(w)

'True'

In [148]:
numbers = [1,2,3,4,5,6,7,8,9,7]
for number in numbers :
    #number = number * number
    number += number
    print(number)

2
4
6
8
10
12
14
16
18
14

In [154]:
name = "Mohamed"
name[0:5:2]

'Mhm'

In [156]:
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
while True :    
    x = float(input("Please Enter 1st number\n"))
    y = float(input("Please Enter 2nd number\n")) 
    op = input("Please Enter an Operation ex: +,-,*,/ , 'q' for Quit \n" )
    
    if op == '+':
        print(x+y)
    elif op == '*':
        print(x*y)
    elif op == '-':
        print(x-y)
    elif op == '/':
        if y == 0 :
            print("ERROR : You can't devide by 0")
            y = float(input("Please Enter 2nd number\n"))
            print(x/y)
        print(x/y)
    elif op == 'q' : 
        break

Please Enter 1st number
10
Please Enter 2nd number
0
Please Enter an Operation ex: +,-,*,/ , 'q' for Quit
/
ERROR : You can't devide by 0
Please Enter 2nd number
2
5.0
5.0

In [2]:
1000/0

ZeroDivisionError: division by zero