In [46]:
string = "Moha med"
y = "5"
strin = "5.5"

In [2]:
int(string)

ValueError: invalid literal for int() with base 10: 'Mohamed'

In [20]:
z = x * int(y)

In [18]:
x = int(float(strin))
print(x)

5

In [47]:
list(string)

['M', 'o', 'h', 'a', ' ', 'm', 'e', 'd']

In [8]:
string +" "+stri

'Mohamed 1'

In [9]:
string * 5

'MohamedMohamedMohamedMohamedMohamed'

In [21]:
y = 100 * 14/100

In [23]:
total = 25 * y

In [24]:
print(total)

350.0

In [25]:
7 // 5

1

In [28]:
 11 % 3

2

In [29]:
3 ** 2

9

In [44]:
import math as m

SyntaxError: invalid syntax (2822612141.py, line 1)

In [42]:
m.pi

3.141592653589793

In [39]:
from math import sqrt , pi

In [38]:
sqrt(20)

4.47213595499958

In [89]:
s = "mohamed,saad"
s.replace(","," ").upper()

'MOHAMED SAAD'

In [87]:
z = s[0:7].title() + " "                                           +s[8:] .title()

In [130]:
z

'Mohamed Saad'

In [126]:
x = input("Exit ? yes or no...").upper()

Exit ? yes or no...hgjkhgjk

In [127]:
print(x)

HGJKHGJK

In [6]:
x =[] # mod 5
y = [] # mod 7 
for i in range(0,1000+1):
    if i % 5 == 0:
        x.append(i)
    elif i % 7 ==0:
        y.append(i)

In [16]:
i = 1 
while i <= 10 :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
import time 
while True :
    x = int(input("Please enter a number: "))
    time.sleep(2)
    y = int(input("Please enter a 2nd number: "))
    time.sleep(2)
    z = input("Yes to exit").lower()
    time.sleep(2)
    if z == "yes":
        break
    else :
        result = x+y 
        print(f"Result = {result}")

Please enter a number: 15
Please enter a 2nd number: 210
Yes to exityes

In [132]:
if  "z" not in z:
    print("Bye Bye")
elif x == "no":
    print("Great")
else :
    print("fe 7aga 8alt")

Bye Bye

In [15]:
x = int(input("Please enter a number: "))

y = int(input("Please enter a 2nd number: "))

op = input("Please choose the operation +,-,*,/ : ")

if op == "+":
    result = x +y 
    print(result)
elif op == "/":
    while y == 0 :
        print("Can't devide by 0 !! ")
        y = int(input("Please enter a 2nd number: "))
        result = x/y
        print(result)
    result = x/y
    print(result)
else : 
    print("you entered a Wrong operation")

Please enter a number: 10
Please enter a 2nd number: 5
Please choose the operation +,-,*,/ : /

In [14]:
y = ""
x = list("I love python")
y.join(x[-1])

'n'

In [12]:
i = x.index("o")
x.remove("y")

In [13]:
x

['I', ' ', 'l', 'v', 'e', ' ', 'p', 't', 'h', 'o', 'n']

In [15]:
y

''

## Question 1

Write a Python program that accepts the user's first and last name, and prints them in reverse order with a space between them.

In [17]:
first_name = input("Enter your first name ")
last_name = input("Enter your last name ")
print(last_name +" "+first_name)

Enter your first name Mohamed
Enter your last name Saad
Saad Mohamed

## Question 2
Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

        The sample value of n is 5.
        Expected Result: 615 (5+55+555)

In [29]:
n = int(input("enter a number "))
nn = str(n)*2 
nnn = str(n)*3
result = int(n) + int(nn) + int(nnn)
print(f"{n}+{nn}+{nnn} Result = {result}")

enter a number 5
5+55+555 Result = 615

## Question 3
Write a Python program to find whether a given number (accept from the user) is even or odd, and print out an appropriate message to the user.

In [32]:
x = int(input("Number : "))
if x % 2 == 0 :
    print("This number is Even")
else :
    print("This is an Odd number")

Number : 9
This is an Odd number

## Question 4
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a sequence on a single line.

In [35]:
for i in range(2000,3201):
    if i % 5 != 0 and i % 7 ==0 :
        print(i, end= " ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

## Question 5
Write a program that can compute the factorial of a given number. The results should be printed in a sequence on a single line. Suppose the following input is supplied to the program: 8. Then, the output should be: 40320
Hint: The factorial function (symbol: !) multiplies all whole numbers from our chosen number down to 1. Examples:¶

        4! = 4 × 3 × 2 × 1

        8! = 8 × 7 × 6 × 5 × 4 × 3 × 2 × 1

        1! = 1

        0! = 1 (by convention)

In [39]:
n = int(input("Enter a number : "))
factorial = 1
for i in range(1,n+1):
    factorial *=i 
print("Your Factorial is : ",factorial)

Enter a number : 5
Your Factorial is :  120

## Quesion 6
Write a program to remove the characters which have odd index values of a given string.

    For example: string ="hello team"
    The result should be: hlota

In [42]:
s = "hello team"
new_s = ""
for i in range(len(s)):
    if i % 2 == 0 :
        new_s = new_s + s[i]
        
print(new_s)

hlota

## Question 7
In this challenge, you must discount a price according to its value.
If the price is 500 or above, there will be a 50% discount.

If the price is between 200 and 500 (200 inclusive), there will be a 30% discount.

If the price is less than 200, there will be a 10% discount.

In [43]:
l = [1,1,1,1,1,1,1,1,5]
t = (1,2,3,4,5)
d = {"name":"mohamed"}
s = {}

In [44]:
set(l)

{1, 5}