In [1]:
ls = [1,2,3,4,5]
result = 1 
for i in ls :
    result *=i

In [16]:
d = {"name" : "mohamed","last_name":"saad"}

def upper(d):
    new_dict = {}
    for key , value in d.items():
        new_dict[key] = value.capitalize()
    return new_dict

In [17]:
upper(d)

{'name': 'Mohamed', 'last_name': 'Saad'}

In [18]:
numbers = (1,50,654654,23132132,54654231,87987,564654654,231654231)

def heighst_num (numbers):
    return max(numbers)

In [19]:
heighst_num(numbers)

564654654

In [20]:
d = {"name" : "mohamed","last_name":"saad"}
def ay_7aga (word):
    large = ""
    for i in word :
        if len(i) > len(large):
            large = i 
    return large

In [21]:
ay_7aga(d)

'last_name'

In [22]:
def calc(x,y):
    return x+y , x-y

In [23]:
calc(10,5)

(15, 5)

In [26]:
def summ(*numbers):
    return sum(numbers)

In [39]:
summ(5,10,541564564,5456556,46,54,564,65,4,65,46,54,654,65,10,541564564,5456556,46,54,564,65,4,65,46,54,654,6)

1094045440

In [44]:
def a (**d):
    print("Hello my first name is " + d["name"] + d["last_name"])

In [45]:
a(name ="Mohamed" , last_name = "saad")

Hello my first name is Mohamedsaad

In [55]:
sum_numbers = lambda x,y : x+y

In [50]:
sum_numbers(5,5)

10

In [80]:
ls = ["mohamed","Youssef","Omar","Sabrien", "Samar", "Mohamed"]
def length(l):
    ls = []
    for i in l:
        ls.append(len(i))

In [84]:
x = map(len, ls)

In [85]:
print(set(x))

{4, 5, 7}

In [1]:
 class Car :
        def __init__(self,color,model,brand):
            self.color = color
            self.model = model
            self.brand = brand
        def change_color(self,new_color):
                self.color = new_color

In [5]:
nissan = Car("Blue",2018,"nissan")

In [19]:
ford = Car("Yellow",2022,"x")

In [15]:
ford.change_color("Blue")

In [20]:
print(ford)

TypeError: 'Car' object is not iterable

In [24]:
class Students :
    def __init__(self,name,age,grade):
        self.name = name
        self.age = age 
        self.grade = grade
class Students_mgt_sys :
    def __init__(self):
        self.students = []
        
    def add_student(self,name,age,grade):
        student = Students(name,age,grade)
        self.students.append(student)
        print ("Student Added Susccefully!!")
        
    def update_student(self,name,age,grade):
        for student in self.students:
            if student.name == name :
                student.age = age
                student.grade = grade
                print("Student Data updated Successfully !!")
                return
            print("Student not Found")
    def display (self):
        for student in self.students:
            print(f"Name : {student.name} , Age : {student.age} , Grade : {student.grade}")
            
    def menu (self):
        print("1 : Add Student")
        print("2 : Edit Student")
        print("3 : Display Students")
        print("4 : Quit")
        
    def run(self):
        while True :
            self.menu()
            choice = input("Enter your Option Number")
            if choice == "4":
                break
            elif choice == "1":
                name = input("Please Enter Student Name: ")
                age =  input("Please Enter Student Age: ")
                grade =  input("Please Enter Student Grade: ")
                self.add_student(name , age , grade)
            elif choice == "2":
                
                name = input("Please Enter Student Name: ")
                age =  input("Please Enter Student Age: ")
                grade =  input("Please Enter Student Grade: ")
                self.update_student(name , age, grade)
            elif choice == "3":
                self.display()
            else :
                print("This is not a Valid option")

In [25]:
sys = Students_mgt_sys()

In [26]:
sys.run()

1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number1
Please Enter Student Name: Mohamed
Please Enter Student Age: 27
Please Enter Student Grade: 50
Student Added Susccefully!!
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number3
Name : Mohamed , Age : 27 , Grade : 50
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number1
Please Enter Student Name: Youssef
Please Enter Student Age: 18
Please Enter Student Grade: 99
Student Added Susccefully!!
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number3
Name : Mohamed , Age : 27 , Grade : 50
Name : Youssef , Age : 18 , Grade : 99
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number2
Please Enter Student Name: omar
Please Enter Student Age: 5
Please Enter Student Grade: 5
Student not Found
Student not Found
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number2
Please Enter Student Name: Youssef
Please Enter Student Age: 18
Please Enter Student Grade: 80
Student not Found
Student Data updated Successfully !!
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number3
Name : Mohamed , Age : 27 , Grade : 50
Name : Youssef , Age : 18 , Grade : 80
1 : Add Student
2 : Edit Student
3 : Display Students
4 : Quit
Enter your Option Number4