In [2]:
# List 
l = [1,2,3,4,5,"String", 1.5 , True , {}, [1,2,3,4], 1 ]
# Dictionary 
d = {'name' : "Mohamed","age" : 28}
# Set 
s = {1,2,3,4,5,6}
# Tuples 
t = (1,2,3,4,5)

In [3]:
l = [1,2,3,4,5,"String", 1.5 , True , {}, [1,2,3,4], 1 ]

In [9]:
listt = list(range(1,10,2))

In [10]:
listt

[1, 3, 5, 7, 9]

In [12]:
listt.append("Mohamed")

In [15]:
listt[5] = True

In [19]:
listt

[1, 3, 5, 7, 9, True]

In [31]:
listt.index("Mohamed")

3

In [37]:
listt.insert(3,"Mohamed")

In [23]:
listt

[1, 3, 5, 'Mohamed', 7, 9, True]

In [32]:
listt.remove(7)

In [38]:
listt

[1, 3, 5, 'Mohamed', 9]

In [46]:
z = list(listt[3])
z

['M', 'o', 'h', 'a', 'm', 'e', 'd']

In [50]:
z.pop()

'd'

In [45]:
z

['M', 'o', 'h', 'm', 'e', 'd']

In [56]:
l = []
for i in range(0,1001):
    if i % 7 == 0 and i % 5 == 0 : 
        l.append(i)

In [71]:
x = sorted(l,reverse=True)

In [79]:
y = [i for i in range(0,1001) if i % 7 ==0 and i % 5 ==0]
y

[0,
 35,
 70,
 105,
 140,
 175,
 210,
 245,
 280,
 315,
 350,
 385,
 420,
 455,
 490,
 525,
 560,
 595,
 630,
 665,
 700,
 735,
 770,
 805,
 840,
 875,
 910,
 945,
 980]

In [80]:
x.extend(y)

In [83]:
len(x)

58

In [84]:
x[-1]

980

In [85]:
s = [[1,2,3],[4,5,6]]

In [89]:
s[1][0]

4

In [97]:
l = [('At', 85), ('Br', 35), ('Cl', 17), ('F', 9), ('I', 53), ("A",5),('Cl', 17),('I', 53)]
sorted(list(set(l)),reverse=True , key = lambda x:x[1])

[('At', 85), ('I', 53), ('Br', 35), ('Cl', 17), ('F', 9), ('A', 5)]

# Set

In [108]:
s = {1,2,3,4,5,6}

In [109]:
s.remove(3)

In [114]:
s.add(10)

In [115]:
s

{1, 2, 4, 5, 6, 10}

# Tuples

In [117]:
t = (1,2,3,4)
t1 = ("a","b","c","d")

In [123]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

# Dictionary

In [125]:
d = {'first_name' : "Mohamed" , "last_name" : "Saad"}

In [129]:
d["last_name"] = "Ahmed"

In [131]:
d["Age"] = 28

In [132]:
d

{'first_name': 'Mohamed', 'last_name': 'Ahmed', 'Age': 28}

In [134]:
d.items()

dict_items([('first_name', 'Mohamed'), ('last_name', 'Ahmed'), ('Age', 28)])

In [135]:
d . values()

dict_values(['Mohamed', 'Ahmed', 28])

In [136]:
d.keys()

dict_keys(['first_name', 'last_name', 'Age'])

In [148]:
w = []
for key in d.keys() :
    w.append(key)
    w.append(value)

In [149]:
w

['first_name', 'Mohamed', 'last_name', 'Ahmed', 'Age', 28]

In [150]:
d

{'first_name': 'Mohamed', 'last_name': 'Ahmed', 'Age': 28}

In [151]:
d['firstname'] = "Saad"

In [152]:
d

{'first_name': 'Mohamed', 'last_name': 'Ahmed', 'Age': 28, 'firstname': 'Saad'}

In [153]:
d[0] = 55

In [154]:
d

{'first_name': 'Mohamed',
 'last_name': 'Ahmed',
 'Age': 28,
 'firstname': 'Saad',
 0: 55}

In [155]:
d[0] = 77

In [156]:
d

{'first_name': 'Mohamed',
 'last_name': 'Ahmed',
 'Age': 28,
 'firstname': 'Saad',
 0: 77}

# Examples

List Manipulation:

        a) Create an empty list called "numbers". Append the numbers 1, 2, and 3 to the list. Print the list.
        b) Given a list of numbers [1, 2, 3, 4, 5], remove the element 3 from the list. Print the modified list.

In [161]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
print(numbers)

[1, 2, 3]

In [162]:
numbers =  [1, 2, 3, 4, 5] 
numbers.pop(3)

4

String Operations:

    a) Create a string variable called "message" and assign it the value "Hello, world!". Print the string.
    b) Given the string "Hello, world!", extract and print the substring "Hello".

In [163]:
message = "Hello, world!"
print(message)

Hello, world!

In [165]:
print(message[:5])

Hello

In [168]:
x = message.split(",")
x[0]

'Hello'

In [171]:
message.replace(message[5:] , " ")

'Hello '

Conditional Statements:
  
    a) Write a program that takes an integer input from the user and checks if it is greater than 10. If it is, print "The number is greater than 10"; otherwise, print "The number is less than or equal to 10".

In [172]:
x = int(input("Enter a number "))

Enter a number 15

In [173]:
if x > 10 :
    print("ay 7aga")
else : 
    print("ay 7aga tany")

ay 7aga

Looping:

    a) Write a program that prints the numbers from 1 to 10 using a for loop.
    b) Write a program that prints the numbers from 10 to 1 using a while loop.

In [177]:
for i in range(1,11):
    print(i,end =" ")

1 2 3 4 5 6 7 8 9 10

In [179]:
i = 10
while i >= 0 :
    print(i)
    i-= 1

10
9
8
7
6
5
4
3
2
1
0

Sorting:

    a) Given a list of numbers [5, 2, 8, 1, 9], sort the list in ascending order. Print the sorted list.

In [182]:
numbers=[5, 2, 8, 1, 9]
numbers.sort(reverse = True)
numbers

[9, 8, 5, 2, 1]

Searching:

    a) Given a list of strings ["apple", "banana", "cherry", "date"], check if the string "banana" is present in the list. If it is, print "Found"; otherwise, print "Not found".

In [188]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits :
    if fruit == "banana" :
        print(fruit,"found")
        
    else:
        print("not found")

not found
banana found
not found
not found

# Functions

In [192]:
 x = 15 + 15 % 7 / 5 *4
x

15.8

In [217]:
def math (y,x,z=30,w=20):
    """
        math > Mathematical operation 
        -----------------------------
        param : int(x,y,z,w)
        
        Return : x + (x**3) % y / z *w
    
    """
    result =  x + (x**3) % y / z *w
    return result

In [216]:
math(15,7,500)

7.52

In [222]:
def fact(number):
    if not isinstance(number,int):
        raise TypeError("Sorry we need a Number")
    if number < 0 : 
        raise TypeError("Sorry we need a Positive Number")
    def inner_fact(number):
        if number <= 1 :
            return 1 
        return number * inner_fact(number-1)
    return inner_fact(number)