In [2]:
l = [1,2,1,1,3,4,5,8,4,2,1,5,6,4]
l.append(5)

In [7]:
min(l,key=l.count)

3

In [8]:
l.count(1)

4

In [45]:
def d_counter (listt):
    result = max(listt,key=l.count)
    return result

In [44]:
d_counter(l)

2

In [41]:
l = [2,2,2,2,2,5,4,56,4]

In [54]:
def sum_2 (x,y=10):
    """
    sum 2 numbers 
    
    param : x > 
            y > 
    
    return : sum of x y 
            
    """
    print(x+y)

In [51]:
def greeting(name="GUEST"):
    return f"Hello {name}"

In [53]:
greeting("Mohamed")

'Hello Mohamed'

In [57]:
sum_2(5)

15

In [25]:
max?

In [26]:
def receipt (name, price, item):
    """
    this runction prints out a receipt 
    **********************************
    inputs >> name > Str
              price > float
              item > Str
    """
    print(f"Hello {name}")
    print(f"You Purchased {item}")
    print(f"Price \t {price}")

In [24]:
receipt(name="Mohamed",item="Book",price = 50)

Hello Mohamed
You Purchased Book
Price 	 50

In [28]:
receipt?

In [ ]:
def calc (x,y,op):

In [60]:
x = 5

In [68]:

def s ():
    global x
    x= x +5
    print(x)

In [71]:
print(x)

10

In [70]:
s()

10

In [76]:
def mean (*numbers,name):
    summ = 0
    for i in numbers:
        summ += i
        result = summ / len(numbers)
    return result

In [77]:
mean(1,2,3,3,4,5,6,7,65,54,4,54,5,554)

54.785714285714285

In [90]:
def mean (name,*numbers):
    summ = 0
    for i in numbers:
        summ += i
        result = summ / len(numbers)
    return f"Here's Your Result {name} : {result}"

In [94]:
mean("Mohamed",3,3,4,5,6,7,65,54,4,54,5,554,56,4,564,65,46,54,65,46,54,5,231,65,4,654,56,4)

"Here's Your Result Mohamed : 97.75"

# Question 1
### Write a Python function to find the largest (max) of three numbers.

    For example, the max of these three numbers

In [95]:
def max_(numbers):
    return max(numbers)

In [98]:
max_([123,5,46,65,4,65,4])

123

# Question 3

### Write a function that sums the elements of a list of integers.
### Write a function that multiplies the elements of an integer list.
### Use the two functions to sum the elements whose position is an even number (0,2,4…) and multiply the rest.

In [101]:
def sum_(ali):
    return sum(ali)

def ml (ali):
    result = 1
    for i in ali :
        result *= i
    return result
def sum_ml(ali):
    even = ali[::2]
    odd = ali[1::2]
    sum_even = sum_(even)
    mul = ml(odd)
    return sum_even , mul

In [103]:
sum_ml(l)

(14, 1120)

In [100]:
l[::2]

[2, 2, 2, 4, 4]

In [104]:
l

[2, 2, 2, 2, 2, 5, 4, 56, 4]

In [109]:
summ = lambda x,y : x+y if x == 10 else x*y

In [111]:
summ(100,10)

1000

In [112]:
t = ["Mohamed" , "Mohameed" , "Shymaa" , "Ali"]

In [121]:
le = list(map(greeting,t))

In [122]:
le

['Hello Mohamed', 'Hello Mohameed', 'Hello Shymaa', 'Hello Ali']

In [123]:
greeting?

# Queestion 4 
### write a function that displays the first letter of the dictionary value in upper case by using the return statement.

In [128]:
d = {"name" : "mohamed"}

In [131]:
def first_(d):
    new_d = {}
    for key , value in d.items():
        new_d[key] = value.capitalize()
    return new_d

In [132]:
first_(d)

{'name': 'Mohamed'}

# Question 6
### Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

    Sample items: green-red-yellow-black-white

    Expected result: black-green-red-white-yellow

    Hint: There's a split function to separate your input string into words and a sort function to sort.

In [166]:
str.split?

In [162]:
x = "green-red-yellow-black-white".split('-')

In [135]:
x.sort()

In [148]:
y = ""
for i in x :
    y = y+ i+"-"

In [149]:
y

'black-green-red-white-yellow-'

In [159]:
def hy (y):
    l = ""
    x = y.split("-")
    x.sort()
    for i in x:
        l = l+i+"-"
    return l[:-1]

In [161]:
hy("green-red-yellow-black-white")

'black-green-red-white-yellow'