In [6]:
first_num = float(input("1st Number :\n"))
second_num = float(input("2nd Number :\n"))
op = input("Select an operator ( + ,-,*,/)\n")

1st Number :
10
2nd Number :
5
Select an operator ( + ,-,*,/)
$

In [27]:
while True :    
    first_num = float(input("1st Number :\n"))
    second_num = float(input("2nd Number :\n"))
    op = input("Select an operator ( + ,-,*,/)\n")
    again = input("Do you need to use the Calculator again ?! (yes or no)").lower()
    if op == '+' :
        print(first_num + second_num)
    elif op == '-':
        print(first_num - second_num)
    elif op == '*':
        print(first_num * second_num)
    elif op == '/':
        if second_num == 0 :
            print("You can't devide by Zero")
            second_num = float(input("2nd Number :\n"))
            print(first_num / second_num)
        else :
            print(first_num / second_num)
    else : 
        print("You selected a Wrong Operation ! ")
        
    if again == 'no' :
        break

1st Number :
10
2nd Number :
0
Select an operator ( + ,-,*,/)
/
Do you need to use the Calculator again ?! (yes or no)yes
You can't devide by Zero
2nd Number :
5
2.0

KeyboardInterrupt: Interrupted by user

In [20]:
numbers = [1,2,3,4,5,6,7,8,9]
for number in numbers :
    print(number)
    #number = number * number 
    number *= number
    print(f"Number fe nafso = {number}")
    print("*" * 10)

1
Number fe nafso = 1
**********
2
Number fe nafso = 4
**********
3
Number fe nafso = 9
**********
4
Number fe nafso = 16
**********
5
Number fe nafso = 25
**********
6
Number fe nafso = 36
**********
7
Number fe nafso = 49
**********
8
Number fe nafso = 64
**********
9
Number fe nafso = 81
**********

In [17]:
number

81

In [14]:
numbers = [1,2,3,4,5,6,7,8,9]

In [21]:
i = 1
while i <= 10 :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [28]:
import random

In [30]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [48]:
x = random.randint(1,101)
number = int(input("Enter a Number "))
if x > number :
    print("Your Guess is Low !")

90

17

# Data Structrue

In [50]:
#list []
l = [1,2,3,1,3,1,3.5,True , [1,2,3,1] , "TEST"]
#Dictionary {}
d = {"name" : "Mohamed" , "age" : 28}
# Set {}
s = {1,2,3,4,5,6}
# Tuples ()
t = (1,2,3,4,5)

In [53]:
l = [1,1,1,1,1,1,1,1,1,1,2,3,4,5,'a','a']
set(l)

{1, 2, 3, 4, 5, 'A', 'a'}

In [57]:
l = [1,2,3]
for i in range(4,11) :
    l.append(i)

In [63]:
l[0] = 1

In [65]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
l.append("Mohamed")

In [77]:
l.remove(7)

In [111]:
l

[100, 10, 9, 8, 7, 7, 7, 6, 4, 3, 2, 1, 'Mohamed']

In [100]:
l.pop(4)

5

In [94]:
l.insert( 5 , 10)

In [113]:
l.sort(reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [115]:
l.index("Mohamed")
l[12]

'Mohamed'

In [112]:
x = sorted(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [116]:
# append , pop , remove , insert , index ,sort , sorted

In [117]:
l = [[1,2,3],[4,5,6],[7,8,9]]

In [119]:
l[1][1]

5

In [123]:
x = list()
for i in range (1001):
    if i % 7 == 0 and i % 5 == 0 :
        x.append(i)

In [125]:
print(i)

1000

In [127]:
x

[0,
 35,
 70,
 105,
 140,
 175,
 210,
 245,
 280,
 315,
 350,
 385,
 420,
 455,
 490,
 525,
 560,
 595,
 630,
 665,
 700,
 735,
 770,
 805,
 840,
 875,
 910,
 945,
 980]

In [142]:
# Set
s = {1,2,3,4,5}
s.remove(5)
s.add(20)

In [143]:
s

{1, 2, 3, 4, 20}

In [151]:
# Tuples
t = (1,2,3,4,5)
t1 = t 
t2 = (6,7,8,9,10)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [156]:
t1[0]

1

In [153]:
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [154]:
l[0] = True

In [155]:
l

[True, [4, 5, 6], [7, 8, 9]]

In [161]:
d = {'Name' : "Mohamed","Age" : 28 , "last_name" : "Mohamed"}
d['Name'] = "ahmed"

In [169]:
d["grade"] = [1,2,3,4,45,6,4,8]

In [170]:
d

{'Name': 'ahmed',
 'Age': 28,
 'last_name': 'Mohamed',
 'Grade': 10,
 'grade': [1, 2, 3, 4, 45, 6, 4, 8]}

In [171]:
d.items()

dict_items([('Name', 'ahmed'), ('Age', 28), ('last_name', 'Mohamed'), ('Grade', 10), ('grade', [1, 2, 3, 4, 45, 6, 4, 8])])

In [172]:
d.keys()

dict_keys(['Name', 'Age', 'last_name', 'Grade', 'grade'])

In [173]:
d.values()

dict_values(['ahmed', 28, 'Mohamed', 10, [1, 2, 3, 4, 45, 6, 4, 8]])

In [175]:
for key , value in d.items():
    print(value )
    print(key)

ahmed
Name
28
Age
Mohamed
last_name
10
Grade
[1, 2, 3, 4, 45, 6, 4, 8]
grade

Searching:

a) Given a list of strings ["apple", "banana", "cherry", "date"], check if the string "banana" is present in the list. If it is, print "Found"; otherwise, print "Not found".Searching:

In [176]:
fruits =  ["apple", "banana", "cherry", "date"]
for fruit in fruits :
    if fruit == 'banana' :
        print(fruit, "Found!")
    else:
        print('Not Found')

Not Found
banana Found!
Not Found
Not Found