In [1]:
l = [1,2,3]
len(l)

3

In [2]:
length = 0
for i in l :
    length += 1
    print(length)

1
2
3

In [32]:
def sum_2num(a,b,c='+'):
    """
    This Function sum or multiply 2 numbers
    --------------------------------------------
    a >> Float
    b >> Float
    c >> '+' or '*'
    ---------------------------------------------
    Return Result (Float)
        
    """
    if c == '+':
        return a+b
    elif c == '*':
        return a*b

In [41]:
_2_sum = lambda a,b,c : a+b if c == '+' else a*b
_2_sum(2,3,'*')

6

In [27]:
sum_2num(b=10 ,a=5 , c ='*')

50

In [19]:
len?

In [24]:
sum_2num?

In [71]:
def length(liste):
    s =0 
    for i in liste:
          s+=1 #s = s+1
    return(s)
a = [1,2,3,4]
print(length(a)) #4

4

In [43]:
year = lambda x : x[:4]
ch = "20200310"
year(ch)

'2020'

In [144]:
t = (1,2,3)
t2 = (3,2,1)
result = map(lambda x,y : x+y,t,t2)

In [145]:
print(list(result))

[4, 4, 4]

In [64]:
fruits = ['banana', 'apple', 'grape', 'watermelon']
len(fruits)

4

In [65]:
x = []
for fruit in fruits : 
    x.append(len(fruit))

In [67]:
x

[6, 5, 5, 10]

In [72]:
r = list(map(length,fruits))

In [73]:
r

[6, 5, 5, 10]

In [74]:
x

[6, 5, 5, 10]

In [77]:
q = 1
for i in x :
    q = q*i

In [78]:
q

1500

In [79]:
x.sort()

In [80]:
x

[5, 5, 6, 10]

In [83]:
a =  [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a.sort(key = lambda x :x[1])

In [84]:
a

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Quesion 1

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

    Example 1

    Input: nums = [1,2,3,1]
    Output: true

In [111]:
def containduplicate(nums):
    return len(set(nums)) != len(nums)

In [113]:
containduplicate([1,2,3])

False

# Question 4
You are given an m x n integer grid accounts where accounts[i][j] is the amount of money the i​​​​​​​​​​​th​​​​ customer has in the j​​​​​​​​​​​th​​​​ bank. Return the wealth that the richest customer has.

A customer's wealth is the amount of money they have in all their bank accounts. The richest customer is the customer that has the maximum wealth.

 

Example 1:

    Input: accounts = [[1,2,3],[3,2,1]]
    Output: 6
    Explanation:
    1st customer has wealth = 1 + 2 + 3 = 6
    2nd customer has wealth = 3 + 2 + 1 = 6
    Both customers are considered the richest with a wealth of 6 each, so return 6.

In [122]:
def maximumWealth(accounts):
    richest = 0
    for i in accounts :
        if sum(i) > richest:
            richest = sum(i)
    return richest
maximumWealth(accounts)

11

In [121]:
accounts = [[1,2,5,3],[3,2,1]]
a = [3,2,1]
sum(a)

6

In [136]:
def average(y,*numbers):
    x = 0
    for i in numbers :
        x +=i
    return x / len(numbers) + y

In [137]:
average(10,1,2,3,4,5,6,7,8,9,5)

15.0

In [141]:
map?

In [ ]:
def combine_dictionaries(d1, d2):
    combined_dict = {}
    
    # Add values from d1 to the combined_dict
    for key, value in d1.items():
        combined_dict[key] = value
    
    # Add values from d2 to the combined_dict or update the existing values
    for key, value in d2.items():
        if key in combined_dict:
            combined_dict[key] += value
        else:
            combined_dict[key] = value
    
    return combined_dict


d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

combined_dict = combine_dictionaries(d1, d2)
print(combined_dict)

In [162]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d3 = d1
for key , value in d2.items() :
    if key in d3 :
        d3[key] += value
    else :
        d3[key] = value

In [164]:
d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
def calc(x,y,z):